<h1>Eat Da Burger</h1>
<h2> Developed by {{ name }} </h2>

<div id="Burgers">
    <img id="pic" src="../public/assets/img/burger.jpg">
</div>

<div id="burgerText">
    <form id="burgerInput">
        <input id="typedBugers" type="text" name ="burgerName" placeholder="Enter Burger">
        <button id="submit" type="submit">Make the Burger</button>
        {{!-- onclick add to the "added burgers" div" --}}
    </form>
</div>

<div id="addedBurgers">
    <h2>Ready to Eat</h2>
{{#each burger}}
    {{#if isEaten}}
    <ul>
        {{this.burgerName}}
        {{!-- // append //<button> --}}
    </ul>
    {{/if}}
    {{/each}}
</div>

<div id="eatenBurgers">
    <h2>Eaten!</h2>

    {{#if eaten}}
    <ul>
        {{!-- display value of the button --}}
    </ul>
    {{/if}}
</div>