
<h1>Eat Da Burger</h1>
<h2> Developed by {{ name }} </h2>
<div id="Burgers">
    <div id="addedBurgers">
        <h2>Ready to Eat</h2>
        
        {{#if isEaten}}
<ul>
    <p>HI</p>
</ul>
        {{/if}}
    </div>
</div>

